<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="ion-text-center title">
    <ion-label>Plan A Test</ion-label>
  </ion-item>
  <form class="form" [formGroup]="loginForm" (ngSubmit)="submitLogin()" novalidate>
    <ion-item class="input">
      <ion-label position="floating" required>Email</ion-label>
      <ion-input formControlName="email" type="email" required></ion-input>
      <ion-icon class="input-icons" name="person-circle-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label position="floating" required>Password</ion-label>
      <ion-input formControlName="password" type="password" required></ion-input>
      <ion-icon class="input-icons" name="key-outline" slot="end"></ion-icon>
    </ion-item>
    <span class="error ion-padding" *ngIf="errorControl.password.errors?.minlength">
      Your password should be min 6 chars long.
    </span>
    <ion-row class="login-button">
      <ion-col>
        <ion-button *ngIf="loginForm.valid" type="submit" color="success" expand="block">Login</ion-button>
      </ion-col>
    </ion-row>
  </form>
  
</ion-content>
